load %s

---load programs-gen
load c-syntax
load common-c-configuration
load %s
load common-c-semantics
load %s

kmod C-SEMANTICS is
	including C-SYNTAX
	including C-CONFIGURATION
	including COMMON-C-SEMANTICS
	including %s
endkm

kmod C is 
	---including C-PROGRAM
	including C-SEMANTICS 
endkm
