<?xml version="1.0" encoding="UTF-8"?>
<!-- Copyright (c) 2014-2016 K Team. All Rights Reserved. -->
<tests>

  <test definition="kool-typed-dynamic.k"
        programs="../../programs/"
        extension="kool"
        exclude="cycle cast-2"
        skip="pdf"
        results="." >
        <all-programs>
          <krun-option name="--output" value="none" />
        </all-programs>
  </test>

</tests>
