<?xml version="1.0" encoding="UTF-8"?>
<!-- Copyright (c) 2012-2014 K Team. All Rights Reserved. -->
<config>
    <test def="/dist/examples/exp/type-inference/exp-type-inference.k" program-extension="exp" compiled-file-name="exp-type-inference-compiled.maude"/>
    <krun-options>
	      <general>
		    <option name="--output-mode" value="none"/>
			<option name="--no-color" value=""/>
		  </general>
    </krun-options>
</config>
