<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Copyright (c) 2014 K Team. All Rights Reserved. -->
<tests>
  <test
    definition="test.k"
    programs="."
    results="."
    skip="pdf"
    posixInitScript="init.sh"
    extension="test">
    <program name="1.test">
      <krun-option name="--parser" value="kast --parser binary" />
      <krun-option name="--term" />
    </program>
    <program name="2.test">
      <krun-option name="--parser" value="kast --sort K" />
    </program>
    <program name="3.test">
      <krun-option name="--parser" value="kast --parser ground" />
    </program>
    <program name="4.test">
      <krun-option name="--parser" value="kast --parser ground --sort KItem" />
    </program>
  </test>
</tests>
