<config>
	<test def="/dist/examples/imp-symbolic/imps.k" 
	      program-extension="imps" 
		  compiled-file-name="imps-compiled.maude"
		  module-name="IMPS"/>
		  
	<krun-options>
	  <program name="whiles.imps" input="" output="whiles.imps.out">
	    <option name="--no-color"/>
	  </program>
<!--	  <program name="ifs" input="" output="ifs.imps.out">
	    <option name="--no-color"/>
		<option nam="--search"/>
	  </program>
	  <program name="sum.imps" input="" output="sum.imps.out">
	    <option name="--no-color"/>
		<option name="--search"/>
	  </program>
	  <program name="min.imps" input="" output="min.imps.out">
	    <option name="--no-color"/>
		<option name="--search"/>
	  </program>  -->
	</krun-options>
</config>
