<config>
	<test def="/dist/examples/imp-symbolic/imps.k" 
	      program-extension="imps" 
		  compiled-file-name="imps-compiled.maude"
		  module-name="IMPS"/>
		  
	<krun-options>
	  <program name="whiles.imps" input="" output="whiles.imps.out">
	    <option name="--no-color"/>
	  </program>
	</krun-options>
</config>
