<?xml version="1.0" encoding="UTF-8"?>
<!-- Copyright (c) 2013-2016 K Team. All Rights Reserved. -->
<tests>

  <include file="../../lesson_6/tests/config.xml"
           more-programs="."
           more-results="." >
    <all-programs>
        <krun-option name="--parser" value="kast --sort Stmts"/>
        <krun-option name="--output" value="none" />
    </all-programs>
    <program name="spawn.imp" >
        <krun-option name="--parser" value="kast --sort Stmts"/>
        <krun-option name="--search" />
    </program>
  </include>
</tests>


