k-distribution/src/main/scripts/lib/k text eol=lf
k-distribution/src/main/scripts/bin/kserver text eol=lf
k-distribution/src/main/scripts/lib/setenv text eol=lf
k-distribution/src/main/scripts/lib/checkJava text eol=lf
