.kompile*
.krun*
.kast*
.ktest*
.kprove*
*-kompiled
*.pdf
*.swp
*.kore
*.mobi
*.epub
.metadata
.recommenders
.cache
.vscode
.idea
*.iml
.project
.classpath
.settings/
java-backend/.project
k-distribution/.project
*~
junit-reports
target/
kore/doc
__pycache__
result*
.envrc
flake.lock