[submodule "llvm-backend/src/main/native/llvm-backend"]
	path = llvm-backend/src/main/native/llvm-backend
	url = https://github.com/kframework/llvm-backend
	ignore = untracked
[submodule "haskell-backend/src/main/native/haskell-backend"]
	path = haskell-backend/src/main/native/haskell-backend
	url = https://github.com/kframework/kore
	ignore = untracked
