.kompile*
.krun*
.kast*
.ktest*
*-kompiled
*.kore
*.pdf
*.swp
.metadata
.recommenders
.cache
.idea
.project
.classpath
.settings/
java-backend/.project
k-distribution/.project
*~
junit-reports
target/
