[submodule "llvm-backend/src/main/native/llvm-backend"]
	path = llvm-backend/src/main/native/llvm-backend
	url = https://github.com/runtimeverification/llvm-backend
	ignore = untracked
[submodule "haskell-backend/src/main/native/haskell-backend"]
	path = haskell-backend/src/main/native/haskell-backend
	url = https://github.com/runtimeverification/haskell-backend
	ignore = untracked
[submodule "web/k-web-theme"]
	path = web/k-web-theme
	url = https://github.com/runtimeverification/k-web-theme
