.kompile*
.krun*
.kast*
.ktest*
.kdoc*
.kprove*
.depend
*-kompiled
*.pdf
*.swp
*.kore
.metadata
.recommenders
.cache
.idea
*.iml
.project
.classpath
.settings/
java-backend/.project
k-distribution/.project
*~
junit-reports
target/
kore/doc
__pycache__
result*
