<?xml version="1.0" encoding="UTF-8"?>
<!-- Copyright (c) 2014-2015 K Team. All Rights Reserved. -->

<tests>

<!--  <include file="tests/config.xml" />-->
<!-- TODO(dwightguth): add back in when we have assoc matching and BagItem -->
<!--  <include file="regression-maude/tests/config.xml" directory="regression-maude" /> -->

<!--
  <include file="java-rewrite-engine/config.xml" directory="java-rewrite-engine" />
  <test
      definition="addbrackets/issue.k"
      programs="addbrackets/programs"
      results="addbrackets/out/"
      extension="issue"
      >
    <all-programs>
      <krun-option name="-output" value="sound" />
	    <krun-option name="-parser" value="kast -parser ground" />
    </all-programs>
  </test>

  <test
      definition="lint/test.k"
      programs="lint"
      results="lint"
      extension="test"
      skip="pdf"
      >
    <kompile-option name="-w" value="all" />
      <all-programs>
        <krun-option name="-output" value="none" />
        <krun-option name="-color" value="off" />
      </all-programs>
  </test>

  <include file="kast/config.xml"
           directory="kast"
           programs="kast"
           results="kast" />

  <include file="generalized-strictness/config.xml"
           directory="generalized-strictness"
           programs="generalized-strictness"
           results="generalized-strictness" />

  <include file="termattributes/config.xml"
           directory="termattributes"
           programs="termattributes"
           results="termattributes" />

  <include file="float/tests/config.xml"
           directory="float" />

  <include file="user_substitution/tests/config.xml"
           directory="user_substitution"
           programs="user_substitution/tests"
           results="user_substitution/tests" />

  <include file="external/tests/config.xml"
           directory="external"
           programs="external/tests"
           results="external/tests" />-->

  <include file="kore-io/tests/config.xml"
           directory="kore-io"
           programs="kore-io/tests"
           results="kore-io/tests" />

  <include file="kore-cell-fragments/imp_fragments/config.xml"
           directory="kore-cell-fragments/imp_fragments/" />

  <include file="issue1724/config.xml"
           directory="issue1724"
           skip="pdf" />

<!--  <include file="smt-sort-flattening/config.xml"
           directory="smt-sort-flattening"
           programs="smt-sort-flattening"
           results="smt-sort-flattening" />-->

  <include file="kore-context/tests/config.xml"
           directory="kore-context"
           programs="kore-context/tests"
           results="kore-context/tests" />

</tests>

