<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Copyright (c) 2012-2019 K Team. All Rights Reserved. -->

<tests>
  <!-- Tutorial Languages and Programs. -->
  <include file="../tutorial/tests/config.xml" directory="tutorial" />

  <!-- Include the tests for the new parser. -->
<!--  <include file="newparser/config.xml"
           directory="tests/newparser" skip="pdf" />-->

<!--  <include file="../samples/tests/config.xml" directory="samples" />-->

<!--
  <include file="regression/config.xml" directory="tests/regression" skip="pdf" />
-->

  <include file="regression-new/config.xml" directory="tests/regression-new" skip="pdf" />

  <include file="../samples-kore/kernelc/tests/config.xml"
           directory="samples-kore/kernelc"
           skip="pdf" />

<!--
  <include file     =      "equiv/config.xml"
           directory="tests/equiv" />
-->

  <include file     =      "examples/symbolic/config.xml"
           directory="tests/examples/symbolic" />

  <include file = "../samples-kore/impa/config.xml"
           directory="samples-kore/impa" />

  <include file="builtins/config.xml" directory="tests/builtins" skip="pdf" />

  <include file="issues/config.xml" directory="tests/issues" skip="pdf" />

</tests>

