<?xml version="1.0" encoding="UTF-8"?>
<!-- Copyright (c) 2013-2016 K Team. All Rights Reserved. -->

<tests>

  <include file="../../../2_imp/lesson_5/tests/config.xml"
           more-programs="."
           more-results="." >
    <!-- replace division with strict when we have proper search strategies -->
    <kompile-option name="--transition" value="division" />
    <program name="div.imp">
      <krun-option name="--search" />
    </program>
  </include>

</tests>
