# For modularity, un-ignore everything from the K parent .gitignore...
!*

# ...and reinstate the original Pyk .gitignore.
/dist/
/docs/api/
/docs/build/
__pycache__/
.coverage

.kprove*
*.debug-log

.idea/
.vscode/
.DS_Store