<?xml version="1.0" encoding="UTF-8"?>
<!-- Copyright (c) 2014-2019 K Team. All Rights Reserved. -->

<tests>
  <test definition="kernelc.k"
        programs="."
        results="."
        extension="c"
        exclude="io"
        >
    <all-programs>
      <krun-option name="--output" value="none" />
    </all-programs>
    <program name="undefined.c">
      <krun-option name="--output" value="pretty" />
    </program>
  </test>
</tests>

