<!--
  Use these tags for comments.  To test only one language,
  just comment out the other tests and then type "ant test".
  Or temporarily replace this config.xml file with yours.
-->

<tests>
<!--
  Testing the Tutorial languages and programs.

-->

  <include file="../tutorial/tests/config.xml"
           directory="tutorial"
           programs="tutorial/tests"
           results="tutorial/tests" />

  <include file="../samples/tests/config.xml"
           directory="samples"
           programs="samples/tests"
           results="samples/tests" />


  <include file="config_java.xml"
           directory="."
           programs="."
           results="." />

<!--
  QUINE
-->
  <test
      definition="samples/quine/explicit/quine-explicit.k"
      programs="tests/examples/quine-explicit"
      results="tests/examples/quine-explicit"
      extension="quine" >
      <all-programs>
        <krun-option name="--output" value="none" />
        <krun-option name="--color" value="off" />
      </all-programs>
  </test>
  <test
      definition="samples/quine/short/quine-short.k"
      programs="tests/examples/quine-short"
      results="tests/examples/quine-short"
      extension="quine" >
      <all-programs>
        <krun-option name="--output" value="none" />
        <krun-option name="--color" value="off" />
      </all-programs>
  </test>



<!--
  AGENT
-->

  <test
      definition="samples/agent/agent.k"
      programs="samples/agent/programs"
      extension="agent"
      results="tests/examples/agent"
      >
      <all-programs>
        <krun-option name="--output" value="none" />
        <krun-option name="--color" value="off" />
      </all-programs>
  </test>

<!--
  BF
-->

  <test
      definition="samples/bf/bf.k"
      programs="samples/bf/programs"
      extension="bf"
      results="tests/examples/bf"
      >
      <all-programs>
        <krun-option name="--output" value="none" />
        <krun-option name="--color" value="off" />
      </all-programs>
  </test>

  <include file="samples/wcet/tests/config.xml"
           directory="samples/wcet"
           programs="samples/wcet"
           results="samples/wcet" />

<!--
  IMP-SYMBOLIC
-->

  <test
      definition="samples/imp-symbolic/imp.k"
      programs="samples/imp-symbolic/programs"
      extension="imp"
      results="samples/imp-symbolic/programs"
      >
    <all-programs>
      <krun-option name="--search" />
      <krun-option name="--parser" value="kast --parser ground"/>
      <krun-option name="--color" value="off" />
    </all-programs>
  </test>

<!--
  IMP-HOARE
-->

  <test
      definition="samples/imp-hoare/imp.k"
      programs="samples/imp-hoare/programs"
      extension="imp"
      results="samples/imp-hoare/programs"
      >
      <all-programs>
        <krun-option name="--output" value="none" />
        <krun-option name="--color" value="off" />
      </all-programs>
  </test>

<!--
  IMP-REACHABILITY
-->

  <test
      definition="samples/imp-reachability/imp.k"
      programs="samples/imp-reachability"
      extension="imp"
      exclude="pgm-1.imp pgm-2.imp pgm-3.imp"
      results="samples/imp-reachability"
      >
    <all-programs>
      <krun-option name="--search" />
      <krun-option name="--depth" value="5" />
      <krun-option name="--parser" value="kast --parser ground" />
      <krun-option name="--color" value="off" />
    </all-programs>
  </test>


<!--
    Program equivalence
-->

  <test
      definition="samples/prog-equiv/imp/peq.k"
      programs="samples/prog-equiv/imp/programs"
      extension="peq"
      results="samples/prog-equiv/imp//programs" >
      <all-programs>
        <krun-option name="--output" value="none" />
        <krun-option name="--color" value="off" />
      </all-programs>
  </test>

<!--
    Regression tests
-->

  <test
      definition="tests/regression/issue552/issue.k"
  />
  <test
      definition="tests/regression/issue529/issue.k"
  />
  <test
      definition="tests/regression/defaultTerms1/issue.k"
  />
   <test
      definition="tests/regression/freshMOS/issue.k"
      programs="tests/regression/freshMOS/programs"
      results="tests/regression/freshMOS/tests"
      extension="issue"
      >
      <all-programs>
        <krun-option name="--output" value="none" />
        <krun-option name="--color" value="off" />
      </all-programs>
  </test>
  <test
      definition="tests/regression/openCells1/issue.k"
      programs="tests/regression/openCells1/programs"
      results="tests/regression/openCells1/tests"
      extension="issue"
      >
      <all-programs>
        <krun-option name="--output" value="none" />
        <krun-option name="--color" value="off" />
      </all-programs>
  </test>
  <test
      definition="tests/regression/sets-issue/issue.k"
      programs="tests/regression/sets-issue/programs"
      results="tests/regression/sets-issue/tests"
      extension="issue"
      >
      <all-programs>
        <krun-option name="--output" value="none" />
        <krun-option name="--color" value="off" />
      </all-programs>
  </test>
  <test
      definition="tests/regression/mapitem2klabel/issue.k"
  />
  <test
      definition="tests/regression/issue/issue.k"
      programs="tests/regression/issue/programs"
      results="tests/regression/issue/tests"
      extension="issue"
      >
      <all-programs>
        <krun-option name="--output" value="none" />
        <krun-option name="--color" value="off" />
      </all-programs>
  </test>
  <test
      definition="tests/regression/issue403/issue.k"
  />
  <test
      definition="tests/regression/issue425/issue.k"
  />
  <test
      definition="tests/regression/issue466/issue.k"
  />
  <test
      definition="tests/regression/issue482/issue.k"
  />
  <test
      definition="tests/regression/issue483/issue.k"
  />
  <test
      definition="tests/regression/strictness/issue.k"
      programs="tests/regression/strictness/programs"
      results="tests/regression/strictness/tests"
      extension="issue"
      >
      <all-programs>
        <krun-option name="--output" value="none" />
        <krun-option name="--color" value="off" />
      </all-programs>
  </test>

  <test
      definition="tests/regression/issue580/issue.k"
      programs="tests/regression/issue580/programs"
      results="tests/regression/issue580/tests"
      extension="issue" >
      <all-programs>
        <krun-option name="--output" value="none" />
        <krun-option name="--color" value="off" />
      </all-programs>
      <program name="test.issue">
        <krun-option name="--output" value="pretty" />
        <krun-option name="--search" />
        <krun-option name="--pattern" value="&lt;k&gt; 6 &lt;/k&gt;" />
      </program>
  </test>

  <test
      definition="tests/regression/subsort-klabel/issue.k"
      programs="tests/regression/subsort-klabel/programs"
      results="tests/regression/subsort-klabel/tests"
      extension="issue" >
      <all-programs>
        <krun-option name="--output" value="none" />
        <krun-option name="--color" value="off" />
      </all-programs>
      <program name="test.issue">
        <krun-option name="--output" value="pretty" />
      </program>
  </test>

  <test
      definition="tests/regression/issue627/issue.k"
      programs="tests/regression/issue627/programs"
      results="tests/regression/issue627/tests"
      extension="issue" >
      <all-programs>
        <krun-option name="--output" value="none" />
        <krun-option name="--color" value="off" />
      </all-programs>
  </test>

  <test
      definition="tests/regression/issue631/issue.k"
      programs="tests/regression/issue631"
      results="tests/regression/issue631"
      extension="issue" >
      <all-programs>
        <krun-option name="--output" value="none" />
        <krun-option name="--color" value="off" />
      </all-programs>
  </test>

  <test
      definition="tests/regression/negative-test/issue.k"
      programs="tests/regression/negative-test/programs"
      results="tests/regression/negative-test/tests"
      extension="issue" >
    <program name="test.issue">
      <krun-option name="--color" value="off" />
    </program>
  </test>

  <test
      definition="tests/regression/escapedKLabel/issue.k"
      programs="tests/regression/escapedKLabel/programs"
      results="tests/regression/escapedKLabel/tests"
      extension="issue" >
      <program name="test.issue">
        <krun-option name="--output" value="pretty" />
      </program>
  </test>

  <test
      definition="tests/regression/tokenconstants/issue.k"
      programs="tests/regression/tokenconstants"
      results="tests/regression/tokenconstants"
      extension="issue">
    <program name="test.issue">
      <krun-option name="-color" value="off" />
    </program>
  </test>

  <test
      definition="tests/regression/unparsing/issue.k"
      programs="tests/regression/unparsing/programs"
      extension="issue"
      results="tests/regression/unparsing/out/">
      <all-programs>
        <krun-option name="--output" value="pretty" />
      </all-programs>
  </test>

  <test
      definition="tests/regression/addbrackets/issue.k"
      programs="tests/regression/addbrackets/programs"
      extension="issue"
      results="tests/regression/addbrackets/out/">
      <all-programs>
        <krun-option name="--output" value="smart" />
	<krun-option name="--parser" value="kast --parser ground" />
      </all-programs>
  </test>

  <test
      definition="tests/regression/issue647/issue.k"
      programs="tests/regression/issue647"
      results="tests/regression/issue647"
      extension="issue"
      >
      <all-programs>
        <krun-option name="--output" value="none" />
        <krun-option name="--color" value="off" />
      </all-programs>
  </test>

  <test
      definition="tests/regression/issue663/issue.k"
      programs="tests/regression/issue663/programs"
      results="tests/regression/issue663/out"
      extension="issue">
      <all-programs>
        <krun-option name="--ltlmc" value="TrueLtl" />
      </all-programs>
  </test>
  <test
      definition="tests/regression/issue674/issue.k"
      programs="tests/regression/issue674"
      results="tests/regression/issue674"
      extension="issue" >
      <all-programs>
        <krun-option name="--output" value="pretty" />
      </all-programs>
  </test>

  <test
      definition="tests/regression/basicFloat/issue.k"
      programs="tests/regression/basicFloat"
      results="tests/regression/basicFloat"
      extension="issue"
      >
      <all-programs>
        <krun-option name="--output" value="none" />
        <krun-option name="--color" value="off" />
      </all-programs>
  </test>
  <test
      definition="tests/regression/follow/issue.k"
      programs="tests/regression/follow"
      results="tests/regression/follow"
      extension="issue"
      >
      <all-programs>
        <krun-option name="--output" value="none" />
        <krun-option name="--color" value="off" />
      </all-programs>
  </test>

  <test
      definition="tests/regression/lint/test.k"
      programs="tests/regression/lint"
      extension="test"
      results="tests/regression/lint"
      >
    <kompile-option name="-w" value="none" />
      <all-programs>
        <krun-option name="--output" value="none" />
        <krun-option name="--color" value="off" />
      </all-programs>
  </test>

  <test
      definition="tests/regression/string2int/test.k"
      programs="tests/regression/string2int"
      results="tests/regression/string2int"
      extension="test" >
      <all-programs>
        <krun-option name="--output" value="pretty" />
      </all-programs>
  </test>

  <test
      definition="tests/regression/issue#36/issue.k"
      programs="tests/regression/issue#36"
      results="tests/regression/issue#36"
	  extension="issue"
      >
    <all-programs>
      <krun-option name="--output" value="pretty" />
      <krun-option name="--color" value="off" />
    </all-programs>
  </test>


  <test
      definition="tests/regression/issue677/test.k"
      programs="tests/regression/issue677/programs"
      extension="test"
      results="tests/regression/issue677/tests"
      >
      <all-programs>
        <krun-option name="--output" value="none" />
        <krun-option name="--color" value="off" />
      </all-programs>
  </test>

  <test
      definition="tests/regression/label-and-context/label-and-context.k"
      programs="tests/regression/label-and-context"
      results="tests/regression/label-and-context"
      extension="issue">
  <all-programs>
    <krun-option name="--output" value="pretty" />
    <krun-option name="--color" value="off" />
    <krun-option name="--parser" value="cat"/>
  </all-programs>
</test>



  <test
      definition="tests/regression/cool-issue/test.k"
      programs="tests/regression/cool-issue/programs"
      results="tests/regression/cool-issue/tests"
      extension="test">
    <all-programs>
       <krun-option name="--color" value="off" />
    </all-programs>
  </test>

  <include file="regression/generalized-strictness/config.xml"
           directory="tests/regression/generalized-strictness"
           programs="tests/regression/generalized-strictness"
           results="tests/regression/generalized-strictness" />
</tests>

