<!--
  Use these tags for comments.  To test only one language,
  just comment out the other tests and then type "ant test".
  Or temporarily replace this config.xml file with yours.
-->

<tests>
<!--
  Testing the Tutorial languages and programs
-->

  <test
      language="dist/tutorial/2_imp/lesson_4/imp.k"
      folder="dist/tutorial/2_imp"
      extensions="imp"
      report-dir="symbolic.imp"
      >
    <kompile-option name="--symbolic" />
  </test>

</tests>

