<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Copyright (c) 2012-2014 K Team. All Rights Reserved. -->
<tests>

  <test
      definition="logik.k"
      programs="."
      extension="logik"
      exclude="append-6"
      results="." >
      <all-programs regex="true">
        <krun-option name="--search" />
        <krun-option name="--output" value="no-wrap" />
        <krun-option name="--pattern" value="&lt;solution&gt; Solution:Map &lt;/solution&gt;" />
      </all-programs>
      <program name="append-4.logik" regex="true">
        <krun-option name="--search" />
        <krun-option name="--output" value="no-wrap" />
        <krun-option name="--bound" value="5" />
        <krun-option name="--pattern" value="&lt;solution&gt; Solution:Map &lt;/solution&gt;" />
      </program> 
      <program name="reverse-slow-palindromes-1.logik" regex="true">
        <krun-option name="--search" />
        <krun-option name="--output" value="no-wrap" />
        <krun-option name="--bound" value="5" />
        <krun-option name="--pattern" value="&lt;solution&gt; Solution:Map &lt;/solution&gt;" />
      </program> 
      <program name="reverse-fast-palindromes-1.logik" regex="true">
        <krun-option name="--search" />
        <krun-option name="--output" value="no-wrap" />
        <krun-option name="--bound" value="5" />
        <krun-option name="--pattern" value="&lt;solution&gt; Solution:Map &lt;/solution&gt;" />
      </program> 
      <program name="reverse-slow-2.logik" regex="true">
        <krun-option name="--search" />
        <krun-option name="--output" value="no-wrap" />
        <krun-option name="--bound" value="1" />
        <krun-option name="--pattern" value="&lt;solution&gt; Solution:Map &lt;/solution&gt;" />
      </program> 
      <program name="reverse-fast-2.logik" regex="true">
        <krun-option name="--search" />
        <krun-option name="--output" value="no-wrap" />
        <krun-option name="--bound" value="1" />
        <krun-option name="--pattern" value="&lt;solution&gt; Solution:Map &lt;/solution&gt;" />
      </program> 
 </test>

</tests>
