<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Copyright (C) 2012-2014 K Team. All Rights Reserved. -->

<tests>
  <!-- tests for symbolic backend -->
  <test
      definition="symbolic-kompile/lang.k"
      programs="symbolic-kompile/programs"
      results="symbolic-kompile/tests"
      extension="lang">
    <kompile-option name="--backend" value="symbolic" />
    <all-programs>
       <krun-option name="--backend" value="symbolic" />
       <krun-option name="--color" value="off" />
       <krun-option name="-cIN" value="ListItem(#symInt(n))"/>
       <krun-option name="-cPC" value="true" />
       <krun-option name="--search" />
       <krun-option name="-bound" value="2" />
    </all-programs>
  </test>
</tests>