<?xml version="1.0" encoding="UTF-8"?>
<!-- Copyright (c) 2016-2019 K Team. All Rights Reserved. -->
<tests>

<include file     ="circular-module-imports/config.xml"
         directory="circular-module-imports"
         programs ="circular-module-imports"
         results  ="circular-module-imports" />

<include file     ="config-var-not-exist-or-missing/config.xml"
         directory="config-var-not-exist-or-missing"
         programs ="config-var-not-exist-or-missing"
         results  ="config-var-not-exist-or-missing" />

<include file     ="configuration-validity/config.xml"
         directory="configuration-validity"
         programs ="configuration-validity"
         results  ="configuration-validity" />

<include file     ="context-validity/config.xml"
         directory="context-validity"
         programs ="context-validity"
         results  ="context-validity" />

<include file     ="incorrect-stream-name/config.xml"
         directory="incorrect-stream-name"
         programs ="incorrect-stream-name"
         results  ="incorrect-stream-name" />

<include file     ="main-module-not-found/config.xml"
         directory="main-module-not-found"
         programs ="main-module-not-found"
         results  ="main-module-not-found" />

<include file     ="module-not-found/config.xml"
         directory="module-not-found"
         programs ="module-not-found"
         results  ="module-not-found" />

<include file     ="non-strict-sorts/config.xml"
         directory="non-strict-sorts"
         programs ="non-strict-sorts"
         results  ="non-strict-sorts" />

<include file     ="rule-body-parsing-error/config.xml"
         directory="rule-body-parsing-error"
         programs ="rule-body-parsing-error"
         results  ="rule-body-parsing-error" />

<include file     ="side-conditions-are-not-allowed-in-macro-rules/config.xml"
         directory="side-conditions-are-not-allowed-in-macro-rules"
         programs ="side-conditions-are-not-allowed-in-macro-rules"
         results  ="side-conditions-are-not-allowed-in-macro-rules" />

<include file     ="unsupported-io-unblock-patterns/config.xml"
         directory="unsupported-io-unblock-patterns"
         programs ="unsupported-io-unblock-patterns"
         results  ="unsupported-io-unblock-patterns" />

</tests>
