<?xml version="1.0" encoding="UTF-8"?>
<!-- Copyright (c) 2016 K Team. All Rights Reserved. -->

<tests>

<!--
  <include file     ="test2/config.xml"
           directory="test2"
           programs ="test2"
           results  ="test2" />
-->

  <include file     ="test4/config.xml"
           directory="test4"
           programs ="test4"
           results  ="test4" />

  <include file     ="test5/config.xml"
           directory="test5"
           programs ="test5"
           results  ="test5" />
</tests>
