<?xml version="1.0" encoding="UTF-8"?>
<!-- Copyright (c) 2016-2019 K Team. All Rights Reserved. -->
<tests>
    <test definition="a.k"
          extension="a"
          programs="."
          results="."
          skip="pdf" >
      <kompile-option name="--no-prelude" />
      <all-programs>
        <krun-option name="--search" />
      </all-programs>
      <program name="4.a">
        <krun-option name="--prove" value="spec.k" />
        <krun-option name="--z3-executable" />
      </program>
    </test>
</tests>
