<config>
    <test def="/dist/examples/cink/ltlmc/cink.k" program-extension="cink" compiled-file-name="cink-compiled.maude"/>
    <krun-options>
        <program name="dekker.cink" ignore="yes"/>
        <program name="form-dekker.cink" ignore="yes"/>
        <program name="peterson.cink" ignore="yes"/>
        <program name="peterson-wong1.cink" ignore="yes"/>
        <program name="peterson-wrong2.cink" ignore="yes"/>
        <program name="form-peterson.cink" ignore="yes"/>
    </krun-options>
</config>
