<?xml version="1.0" encoding="UTF-8"?>
<!-- Copyright (c) 2013-2016 K Team. All Rights Reserved. -->
<tests>

  <include file="../../lesson_3/tests/config-det.xml"
           more-programs="../../../1_lambda/lesson_8/tests"
           more-results="../../../1_lambda/lesson_8/tests" />

  <include file="../../lesson_3/tests/config-nondet.xml"
           more-programs="../../lesson_4/tests"
           more-results="../../lesson_4/tests ." />

</tests>
