<?xml version="1.0" encoding="UTF-8"?>
<!-- Copyright (c) 2013-2016 K Team. All Rights Reserved. -->

<tests>

  <test
    definition="lambda.k"
    programs="."
    extension="lambda"
    results="." >
    <kompile-option name="--syntax-module" value="LAMBDA" />
    <all-programs>
      <krun-option name="--symbolic-execution" />
      <krun-option name="--search" />
      <!-- the pattern T:Type matches iff the program is well-typed -->
      <krun-option name="--pattern" value="&lt;k&gt; T:Type &lt;/k&gt;" />
    </all-programs>
  </test>

</tests>
