<?xml version="1.0" encoding="UTF-8"?>
<!-- Copyright (c) 2014 K Team. All Rights Reserved. -->
<!DOCTYPE module PUBLIC
"-//Puppy Crawl//DTD Check Configuration 1.3//EN"
"http://www.puppycrawl.com/dtds/configuration_1_3.dtd">
<module name="Checker">
  <module name="SuppressionFilter">
    <property name="file" value="${checkstyle.suppress.file}" />
  </module>
  <module name="TreeWalker">
<!--<module name="EqualsAvoidNull" />
<module name="EqualsHashCode" />
<module name="SimplifyBooleanReturn" />
<module name="StringLiteralEquality" />
<module name="PackageDeclaration" />
<module name="AvoidStarImport" />
<module name="RedundantImport" />
<module name="UnusedImports" />
<module name="UpperEll" />
<module name="ArrayTypeStyle" />
<module name="OuterTypeFilename" />
<module name="OuterTypeNumber" />-->
    <module name="IllegalCatch">
      <property name="illegalClassNames" value="java.lang.Exception, java.lang.Throwable, java.lang.Error, java.lang.RuntimeException" />
    </module>
    <module name="IllegalThrows">
      <property name="illegalClassNames" value="java.lang.Exception, java.lang.Throwable" />
    </module>
  </module>
  <module name="FileTabCharacter" />
<!--<module name="NewlineAtEndOfFile" />-->
</module>
