<tests>

<!-- original tests -->
  <test
      definition="simple-typed-dynamic.k"
      programs="../../../../programs"
      extension="simple"
      results="../../../tests"
      exclude="dekker" >
  </test>

<!-- new tests -->
  <test
      definition="simple-typed-dynamic.k"
      programs="."
      results="."
      extension="simple" >
  </test>

</tests>
