<?xml version="1.0" encoding="UTF-8"?>
<!-- Copyright (c) 2015-2016 K Team. All Rights Reserved. -->
  <tests>
    <test
        definition="a.k"
        programs="."
        extension="a"
        results="." >
      <!-- given by ktest
      <all-programs>
        <krun-option name="-w2e" />
      </all-programs>
      -->
    </test>
  </tests>
