<?xml version="1.0" encoding="UTF-8"?>
<!-- Copyright (c) 2013-2016 K Team. All Rights Reserved. -->

<tests>

  <include file="../../../1_lambda/lesson_1/tests/config.xml"
           exclude="omega"
           results=".">
<!-- The next line should not be needed ... -->
    <kompile-option name="--syntax-module" value="LAMBDA" />
    <kompile-option name="--transition"
                    value="strict" />
<!-- Grigore: explain the superstrict option above -->
<!-- Grigore: we may want to use this option also in lambda -->
  </include>

</tests>
