<?xml version="1.0" encoding="UTF-8"?>
<!-- Copyright (c) 2013-2014 K Team. All Rights Reserved. -->
<tests>

  <test
      definition="fun-untyped.k"
      programs="../../../programs"
      extension="fun"
      results="." >
     <kompile-option name="--superheat" value="strict" />
     <all-programs>
        <krun-option name="--pattern" value="&lt;k&gt; V:K &lt;/k&gt;" />
      </all-programs>
      <program name="references-5.fun">
        <krun-option name="--search" />
        <krun-option name="--pattern" value="&lt;k&gt; V:K &lt;/k&gt;" />
      </program>
  </test>

</tests>
