<tests>

  <test
      definition="fun-untyped.k"
      programs="../../../programs"
      extension="fun"
      results="." >
      <all-programs>
        <krun-option name="--pattern" value="&lt;k&gt; V:K &lt;/k&gt;" />
        <krun-option name="--parens" value="smart"/>
      </all-programs>
  </test>

</tests>
