<?xml version="1.0" encoding="UTF-8"?>
<!-- Copyright (c) 2013-2016 K Team. All Rights Reserved. -->

<tests>

  <include file="../../lesson_3/tests/config.xml"
           more-results="." >
    <all-programs>
      <krun-option name="--output" value="none" />
    </all-programs>
  </include>

</tests>
