load %s

---load programs-gen
load c-syntax
load common-c-configuration
load %s
load common-c-semantics
load %s

mod C-SEMANTICS is
	including C-SYNTAX .
	including C-CONFIGURATION .
	including COMMON-C-SEMANTICS .
	including %s .
endm

mod C is 
	---including C-PROGRAM .
	including C-SEMANTICS . 
endm
