<?xml version="1.0" encoding="UTF-8"?>
<!-- Copyright (c) 2013-2014 K Team. All Rights Reserved. -->
<tests>

  <test definition="simple-untyped"
        programs="."
        extension="simple"
        exclude="dekker"
        results="." >
        <kompile-option name="--superheat" value="strict" />
        <all-programs>
          <krun-option name="--output" value="none" />
        </all-programs>
        <program name="threads_05.simple">
          <krun-option name="--search" />
          <krun-option name="--bound" value="5" />
        </program>
        <program name="exceptions_07.simple">
          <krun-option name="--search" />
          <krun-option name="--pattern" value="&lt;out&gt; ListItem(#buffer(S:String)) &lt;/out&gt;" />
        </program>
  </test>

</tests>
