<?xml version="1.0" encoding="UTF-8"?>
<!-- Copyright (c) 2013-2014 K Team. All Rights Reserved. -->
<tests>

  <include file="../../lesson_5/tests/config.xml" 
           more-results="." >
    <kompile-option name="--transition"
                    value="lookup increment assignment read print" />
    <program name="spawn.imp" >
      <krun-option name="--search" />
    </program>
  </include>

</tests>
