<tests>

  <include file="../../lesson_5/tests/config.xml" 
           more-results="." >
    <kompile-option name="--transition"
                    value="lookup increment assignment read print" />
    <program name="../../lesson_1/tests/spawn.imp" >
      <krun-option name="--search" />
    </program>
  </include>

</tests>
