<?xml version="1.0" encoding="UTF-8"?>
<!-- Copyright (c) 2013-2014 K Team. All Rights Reserved. -->
<tests>

  <include file="../../../tests/config.xml" />

  <test definition="fun-untyped.k"
        programs="."
        extension="fun"
        results="." >
        <all-programs>
          <krun-option name="-o" value="none" />
        </all-programs>
  </test>

</tests>
