<?xml version="1.0" encoding="UTF-8"?>
<!-- Copyright (c) 2013-2014 K Team. All Rights Reserved. -->
<tests>

  <test definition="kool-typed-dynamic.k"
        programs="../../programs/"
        extension="kool"
        exclude="cycle"
        results="." >
        <all-programs>
          <krun-option name="--output" value="none" />
        </all-programs>
  </test>

</tests>
