<tests>

  <test
    definition="lambda.k"
    programs="."
    extension="lambda"
    results="." >
    <all-programs>
      <krun-option name="--search" />
      <krun-option name="--pattern" value="&lt;k&gt; V:K &lt;/k&gt;" />
      <krun-option name="--color" value="off" />
    </all-programs>
  </test>

</tests>
