<?xml version="1.0" encoding="UTF-8"?>
<!-- Copyright (c) 2013-2014 K Team. All Rights Reserved. -->
<tests>

  <test
      definition="kool-typed-static.k"
      programs="../../programs"
      extension="kool"
      results="." >
      <kompile-option name="--transition" value="inheritance-cycle" />
      <all-programs>
        <krun-option name="--output" value="none"/>
      </all-programs>
      <program name="cycle.kool">
        <krun-option name="--search" />
        <krun-option name="--pattern" value="&lt;out&gt; L:List &lt;/out&gt;" />
      </program>
  </test>

</tests>
