<?xml version="1.0" encoding="UTF-8"?>
<!-- Copyright (c) 2014 K Team. All Rights Reserved. -->

<tests>
    <!-- YilongL: the output of cycle.kool depends on the implementation of the rewrite engine -->
    <test
            definition="kool-typed-dynamic.k"
            programs="programs"
            results="tests"
            extension="kool"
            exclude="cycle.kool"
            >
        <kompile-option name="--backend" value="java" />
        <kompile-option name="--rule-index" value="path" />
        <all-programs>
            <krun-option name="--output" value="none" />
            <krun-option name="--smt" value="none" />
        </all-programs>
    </test>
</tests>
