<?xml version="1.0" encoding="UTF-8"?>
<!-- Copyright (c) 2016-2019 K Team. All Rights Reserved. -->
<tests>
    <test definition="imp.k"
          extension="k"
          programs="tests"
          results="tests"
          customKrunCmd="keq"
          posixInitScript="kompile.sh"
          skip="pdf" >
      <all-programs>
        <krun-option name="--def0" value="imp-kompiled" />
        <krun-option name="--def1" value="imp1-kompiled" />
        <krun-option name="--def2" value="imp2-kompiled" />
        <krun-option name="--smt_prelude" value="../../../../k-distribution/include/z3/basic.smt2" />
      </all-programs>
    </test>
</tests>
