<tests>

  <test
    definition="imp.k"
    programs="."
    extension="imp"
    results="." >
    <kompile-option name="--superheat" value="superheat" />
    <kompile-option name="--supercool" value="supercool" />
    <kompile-option name="--transition" value="transition" />

    <all-programs>
      <krun-option name="--search" />
      <krun-option name="--pattern" value="&lt;k&gt; K:K &lt;/k&gt; &lt;out&gt; ListItem(#buffer(S:String)) &lt;/out&gt;" />
    </all-programs>
  </test>
</tests>
