<?xml version="1.0" encoding="UTF-8"?>
<!-- Copyright (c) 2013-2016 K Team. All Rights Reserved. -->
<tests>

  <include file="../../lesson_5/tests/config.xml" 
           more-results="." >
    <kompile-option name="--transition"
                    value="division lookup increment assignment read print" />
    <program name="spawn.imp" >
      <krun-option name="--search" />
      <krun-option name="--pattern"
                   value="&lt;store&gt; Store &lt;/store&gt; &lt;out&gt; ListItem(_) ListItem(_) ListItem(#buffer(Out:String)) &lt;/out&gt;" />
    </program>
    <program name="div.imp" >
      <krun-option name="--search" />
    </program>
  </include>

</tests>
