<tests>

<!-- original tests -->
  <test
      definition="simple-untyped.k"
      programs="../../../tests"
      results="../../../tests"
      extension="simple"
      exclude="dekker" >
  </test>

<!-- new tests -->
  <test
      definition="simple-untyped.k"
      programs="."
      results="."
      extension="simple" >
  </test>

</tests>
