<?xml version="1.0" encoding="UTF-8"?>
<!-- Copyright (c) 2014-2015 K Team. All Rights Reserved. -->

<tests>
  <include file="execution/config.xml" />
<!--
  <include file="simple/config.xml" />
  <include file="list/config.xml" />
  <include file="tree/config.xml" />
  <include file="sorting/config.xml" />

  <include file="binary_search_tree/config.xml" />
  <include file="avl_tree/config.xml" />

  <include file="cd2d/config.xml" />
-->
</tests>

