<tests>

  <test
    definition="lambda.k"
    programs="../../lesson_1/tests
              ../../lesson_5/tests
              ../../lesson_6/tests
              ../../lesson_7/tests"
    extension="lambda"
    exclude="omega"
    results="../../lesson_1/tests
             ../../lesson_2/tests
             ../../lesson_3/tests
             ../../lesson_5/tests
             ../../lesson_6/tests
             ../../lesson_7/tests" >
    <all-programs>
      <krun-option name="-output-mode" value="pretty" />
    </all-programs>
  </test>

</tests>