<?xml version="1.0" encoding="UTF-8"?>
<!-- Copyright (c) 2013-2014 K Team. All Rights Reserved. -->

<tests>

  <test
      definition="simple-typed-static.k"
      programs="../../programs/"
      results="."
      extension="simple" >
      <all-programs>
        <krun-option name="--pattern" value="&lt;tasks&gt;.Bag&lt;/tasks&gt;"/>
      </all-programs>
  </test>

</tests>
