<tests>

  <test
    definition="lambda.k"
    programs="../../../1_lambda/lesson_1/tests"
    extension="lambda"
    exclude="omega"
    results="." >
    <all-programs>
      <krun-option name="-output" value="pretty" />
      <krun-option name="--pattern" value="&lt;k&gt; V:K &lt;/k&gt;" />
    </all-programs>
  </test>

</tests>
