<?xml version="1.0" encoding="UTF-8"?>
<!-- Copyright (c) 2013-2014 K Team. All Rights Reserved. -->
<tests>

  <include file="../../../2_imp/lesson_5/tests/config.xml"
           more-programs="."
           more-results="." >
    <kompile-option name="--superheat" value="strict" />
    <program name="div.imp">
      <krun-option name="--search" />
    </program>
  </include>

</tests>