<?xml version="1.0" encoding="UTF-8" ?>
<?eclipse version="3.0"?>

<plugin>
       <extension point="org.eclipse.imp.runtime.languageDescription">
          <language extensions="k" description="K" language="K" derivedFrom="DynamicRoot" validator="K.KValidator" validatorClass="K.KValidator"></language>
       </extension>
       <extension id="K.parser" name="K Parser" point="org.eclipse.imp.runtime.parser">
          <parser class="K.KParseController" language="K">
          </parser>
       </extension>    
    </plugin>