<?xml version="1.0" encoding="UTF-8"?>
<!-- Copyright (c) 2014 K Team. All Rights Reserved. -->

<tests>
  <test
      definition="regression.k"
      programs="."
      results="."
      extension="issue test"
      exclude="test32 test29"
      >
    <kompile-option name="--transition" value="bar transition hello bye" />
    <all-programs>
      <krun-option name="--pattern" value="&lt;k&gt; Result:K &lt;/k&gt;" />
    </all-programs>
    <program name="test5.test">
      <krun-option name="--parser" value="kast --parser ground" />
      <krun-option name="--pattern" value="&lt;k&gt; Result:K &lt;/k&gt;" />
    </program>
    <program name="test25.issue">
      <krun-option name="--parser" value="kast --parser ground" />
      <krun-option name="--pattern" value="&lt;k&gt; Result:K &lt;/k&gt;" />
    </program>
    <program name="test8.issue">
      <krun-option name="--output" value="none" />
    </program>
    <program name="test9.issue">
      <krun-option name="--output" value="none" />
    </program>
    <program name="test10.issue">
      <krun-option name="--output" value="none" />
    </program>
    <program name="test27.test">
      <krun-option name="--output" value="none" />
    </program>
    <program name="test17.issue">
      <krun-option name="--output" value="none" />
    </program>
    <program name="test12.issue">
      <krun-option name="--search" />
      <krun-option name="--pattern" value="&lt;out&gt; ListItem(#buffer(S:String)) &lt;/out&gt;" />
    </program>
    <program name="test13.issue">
      <krun-option name="--search" />
      <krun-option name="--pattern" value="&lt;out&gt; ListItem(#buffer(S:String)) &lt;/out&gt;" />
    </program>
    <program name="test34.issue">
      <krun-option name="--search" />
      <krun-option name="--pattern" value="&lt;out&gt; ListItem(#buffer(S:String)) &lt;/out&gt;" />
    </program>
    <program name="test14.issue">
      <krun-option name="--search" />
      <krun-option name="--pattern" value="&lt;k&gt; 6 &lt;/k&gt;" />
    </program>
    <program name="test22.issue">
      <krun-option name="--ltlmc" value="TrueLtl" />
    </program>
    <program name="test23.issue" regex="true">
      <krun-option name="--ltlmc-file" value="tests/b.formula" />
    </program>
    <program name="test26.test">
      <krun-option name="--parser" value="kast --parser rules" />
    </program>
    <program name="test28.issue">
      <krun-option name="--parser" value="cat"/>
      <krun-option name="--pattern" value="&lt;k&gt; Result:K &lt;/k&gt;" />
    </program>
    <program name="test30.test" regex="true">
      <krun-option name="--profile" />
      <krun-option name="--output" value="raw" />
    </program>
  </test>

  <!-- TODO(yilongli): fix tests 11 12 13 25 26 34-->
  <test
      definition="regression.k"
      programs="."
      results="."
      extension="issue test"
      exclude="test22 test23 test28 test30 test12 test13 test25 test26 test11 test34"
      >
    <kompile-option name="--transition" value="bar transition hello bye" />
    <kompile-option name="--backend" value="java" />
    <kompile-option name="-d" value="java_kompiled" />
    <all-programs>
      <krun-option name="-d" value="java_kompiled" />
      <krun-option name="--smt" value="none" />
      <krun-option name="--pattern" value="&lt;k&gt; Result:K &lt;/k&gt;" />
    </all-programs>
    <program name="test5.test">
      <krun-option name="-d" value="java_kompiled" />
      <krun-option name="--smt" value="none" />
      <krun-option name="--parser" value="kast --parser ground" />
      <krun-option name="--pattern" value="&lt;k&gt; Result:K &lt;/k&gt;" />
    </program>
    <program name="test25.issue">
      <krun-option name="-d" value="java_kompiled" />
      <krun-option name="--smt" value="none" />
      <krun-option name="--parser" value="kast --parser ground" />
      <krun-option name="--pattern" value="&lt;k&gt; Result:K &lt;/k&gt;" />
    </program>
    <program name="test8.issue">
      <krun-option name="-d" value="java_kompiled" />
      <krun-option name="--smt" value="none" />
      <krun-option name="--output" value="none" />
    </program>
    <program name="test9.issue">
      <krun-option name="-d" value="java_kompiled" />
      <krun-option name="--smt" value="none" />
      <krun-option name="--output" value="none" />
    </program>
    <program name="test10.issue">
      <krun-option name="-d" value="java_kompiled" />
      <krun-option name="--smt" value="none" />
      <krun-option name="--output" value="none" />
    </program>
    <program name="test27.test">
      <krun-option name="-d" value="java_kompiled" />
      <krun-option name="--smt" value="none" />
      <krun-option name="--output" value="none" />
    </program>
    <program name="test17.issue">
      <krun-option name="-d" value="java_kompiled" />
      <krun-option name="--smt" value="none" />
      <krun-option name="--output" value="none" />
    </program>
    <program name="test12.issue">
      <krun-option name="-d" value="java_kompiled" />
      <krun-option name="--smt" value="none" />
      <krun-option name="--search" />
      <krun-option name="--pattern" value="&lt;out&gt; ListItem(#buffer(S:String)) &lt;/out&gt;" />
    </program>
    <program name="test13.issue">
      <krun-option name="-d" value="java_kompiled" />
      <krun-option name="--smt" value="none" />
      <krun-option name="--search" />
      <krun-option name="--pattern" value="&lt;out&gt; ListItem(#buffer(S:String)) &lt;/out&gt;" />
    </program>
    <program name="test14.issue">
      <krun-option name="-d" value="java_kompiled" />
      <krun-option name="--smt" value="none" />
      <krun-option name="--search" />
      <krun-option name="--pattern" value="&lt;k&gt; 6 &lt;/k&gt;" />
    </program>
    <program name="test26.test">
      <krun-option name="-d" value="java_kompiled" />
      <krun-option name="--smt" value="none" />
      <krun-option name="--parser" value="kast --parser rules" />
      <krun-option name="--pattern" value="&lt;k&gt; Result:K &lt;/k&gt;" />
    </program>
    <program name="test32.test">
      <krun-option name="-d" value="java_kompiled" />
      <krun-option name="--smt" value="none" />
      <krun-option name="--parser" value="kast --parser rules" />
      <krun-option name="--term" />
    </program>
  </test>
</tests>
