<?xml version="1.0" encoding="UTF-8"?>
<!-- Copyright (c) 2013-2014 K Team. All Rights Reserved. -->
<tests>

  <include file="../../../tests/config.xml" >
           <kompile-option name="--transition" value="lookup assignment io"/>
  </include>

  <test
      definition="fun-untyped.k"
      programs="."
      extension="fun"
      results="." >
      <kompile-option name="--transition" value="lookup assignment io"/>
      <all-programs>
        <krun-option name="--search" />
        <krun-option name="--pattern" value="&lt;out&gt; ListItem(#buffer(S:String)) &lt;/out&gt;" />
      </all-programs>
  </test>

</tests>
