(lambda addd . ((mu foo . lambda xx . lambda yy . cond (zero? xx) 0 (addd (foo (pred xx) yy) yy)) (succ (succ (succ 0))) (pred (succ 0)))) (mu foo . lambda xx . lambda yy . cond (zero? xx) yy (succ (foo (pred xx) yy)))