name: 'Test PR'
on:
  pull_request:
    branches:
      - 'master'
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:

  change-base:
    name: 'Change base to develop branch'
    runs-on: ubuntu-latest
    steps:
      - name: 'Check out code'
        uses: actions/checkout@v3
        with:
          token: ${{ secrets.JENKINS_GITHUB_PAT }}
          # fetch-depth 0 means deep clone the repo
          fetch-depth: 0
      - name: 'Update Version'
        run: |
          set -x
          pull_number=$(jq --raw-output .pull_request.number "${GITHUB_EVENT_PATH}")
          curl -X PATCH                                                             \
            -H "Accept: application/vnd.github+json"                                \
            -H "Authorization: Bearer <YOUR-TOKEN>"                                 \
            https://api.github.com/repos/runtimeverification/k/pulls/${pull_number} \
            -d '{"base":"develop"}'
