name: 'Master Push'
on:
  push:
    branches:
      - master

jobs:
  gh-release:
    name: 'Publish GitHub Prerelease'
    runs-on: ubuntu-latest
    steps:
      - name: 'Check out code'
        uses: actions/checkout@v4
      - name: 'Publish prerelease'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          set -x
          release_tag=v$(cat package/version)
          echo "K Framework Release ${release_tag}"  > release.md
          echo ''                                   >> release.md
          cat k-distribution/INSTALL.md             >> release.md
          gh release create "${release_tag}"             \
            --target "${GITHUB_SHA}"                     \
            --title "K Framework Release ${release_tag}" \
            --prerelease                                 \
            --notes-file 'release.md'
