name: 'Release'
on:
  release:
    types:
      - prereleased
concurrency:
  group: ${{ github.workflow }}

jobs:

  nix-release:
    name: 'Nix Release'
    runs-on: ubuntu-latest
    environment: production
    steps:
      - name: Check out code
        uses: actions/checkout@v3
        with:
          submodules: recursive

      - name: 'Set up Nix/Cachix'
        if: ${{ !startsWith(matrix.os, 'self') }}
        uses: ./.github/actions/install-nix-cachix
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          cachix-key: ${{ secrets.CACHIX_SIGNING_KEY }}

      - name: Upload release.nix
        uses: ttuegel/upload-release.nix@v1.0
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

  ubuntu-jammy:
    name: 'K Ubuntu Jammy Package'
    runs-on: [self-hosted, linux, normal]
    steps:
      - uses: actions/checkout@v3
      - name: 'Build and Test'
        uses: ./.github/actions/test-package
        with:
          distro: jammy
          llvm: 14
      - uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.JENKINS_GITHUB_PAT }}
        with:
          asset_content_type: 'application/gzip'
          asset_name: 'K Framework Ubuntu Jammy (22.04) Deb'
          asset_path: kframework_amd64_jammy.deb
          upload_url: ${{ github.event.release.upload_url }}
      - name: 'Test and Push up Docker Image'
        shell: bash {0}
        env:
          DOCKERHUB_PASSWORD: ${{ secrets.DOCKERHUB_PASSWORD }}
          DOCKERHUB_REPO: runtimeverificationinc/kframework-k
        run: |
          set -euxo pipefail
          version=$(cat package/version)
          version_tag=ubuntu-jammy-${version}
          docker login --username rvdockerhub --password ${DOCKERHUB_PASSWORD}
          docker image build . --file package/docker/Dockerfile.ubuntu-jammy --tag ${DOCKERHUB_REPO}:${version_tag}
          docker run --name k-package-docker-test-jammy --rm -it --detach ${DOCKERHUB_REPO}:${version_tag}
          docker exec -t k-package-docker-test-jammy bash -c 'cd ~ && echo "module TEST imports BOOL endmodule" > test.k'
          docker exec -t k-package-docker-test-jammy bash -c 'cd ~ && kompile test.k --backend llvm'
          docker exec -t k-package-docker-test-jammy bash -c 'cd ~ && kompile test.k --backend haskell'
          docker image push ${DOCKERHUB_REPO}:${version_tag}
      - name: 'Clean up Docker Container'
        if: always()
        run: |
          docker stop -t 0 k-package-docker-test-jammy || true
          docker rm -f k-package-docker-test-jammy || true 

  ubuntu-focal:
    name: 'K Ubuntu Focal Package'
    runs-on: [self-hosted, linux, normal]
    steps:
      - uses: actions/checkout@v3
      - name: 'Build and Test'
        uses: ./.github/actions/test-package
        with:
          distro: focal
          llvm: 14
      - uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.JENKINS_GITHUB_PAT }}
        with:
          asset_content_type: 'application/gzip'
          asset_name: 'K Framework Ubuntu Focal (20.04) Deb'
          asset_path: kframework_amd64_focal.deb
          upload_url: ${{ github.event.release.upload_url }}
      - name: 'Test and Push up Docker Image'
        shell: bash {0}
        env:
          DOCKERHUB_PASSWORD: ${{ secrets.DOCKERHUB_PASSWORD }}
          DOCKERHUB_REPO: runtimeverificationinc/kframework-k
        run: |
          set -euxo pipefail
          version=$(cat package/version)
          version_tag=ubuntu-focal-${version}
          docker login --username rvdockerhub --password ${DOCKERHUB_PASSWORD}
          docker image build . --file package/docker/Dockerfile.ubuntu-focal --tag ${DOCKERHUB_REPO}:${version_tag}
          docker run --name k-package-docker-test-focal --rm -it --detach ${DOCKERHUB_REPO}:${version_tag}
          docker exec -t k-package-docker-test-focal bash -c 'cd ~ && echo "module TEST imports BOOL endmodule" > test.k'
          docker exec -t k-package-docker-test-focal bash -c 'cd ~ && kompile test.k --backend llvm'
          docker exec -t k-package-docker-test-focal bash -c 'cd ~ && kompile test.k --backend haskell'
          docker image push ${DOCKERHUB_REPO}:${version_tag}
      - name: 'Clean up Docker Container'
        if: always()
        run: |
          docker stop -t 0 k-package-docker-test-focal || true
          docker rm -f k-package-docker-test-focal || true 

  macos-build:
    name: 'Build MacOS Package'
    runs-on: macos-11
    environment: production
    steps:
      - name: Check out code
        uses: actions/checkout@v2.3.4
        with:
          submodules: recursive
          path: kframework

      - name: Check out matching homebrew repo branch
        uses: actions/checkout@v2.3.4
        id: checkout
        with:
          repository: kframework/homebrew-k
          path: homebrew-k
          ref: staging
        continue-on-error: true

      - name: Check out homebrew repo master branch
        uses: actions/checkout@v2.3.4
        if: ${{ steps.checkout.outcome == 'failure' }}
        with:
          repository: kframework/homebrew-k
          path: homebrew-k

      - name: Cache maven
        uses: actions/cache@v2
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}-
          restore-keys: |
            ${{ runner.os }}-maven-

      - name: Build brew bottle
        id: build
        run: |
          PACKAGE=kframework
          VERSION=$(cat kframework/package/version)
          ROOT_URL='https://github.com/runtimeverification/k/releases/download'
          wget "$ROOT_URL/v${VERSION}/kframework-${VERSION}-src.tar.gz"
          cd homebrew-k
          ../kframework/package/macos/brew-update-to-local ${PACKAGE} ${VERSION}
          git commit Formula/$PACKAGE.rb -m "Update ${PACKAGE} to ${VERSION}: part 1"
          ../kframework/package/macos/brew-build-and-update-to-local-bottle ${PACKAGE} ${VERSION} ${ROOT_URL}
          git reset HEAD^
          LOCAL_BOTTLE_NAME=$(basename $(find . -name "kframework--${VERSION}.big_sur.bottle*.tar.gz"))
          BOTTLE_NAME=$(echo ${LOCAL_BOTTLE_NAME#./} | sed 's!kframework--!kframework-!')
          ../kframework/package/macos/brew-update-to-final ${PACKAGE} ${VERSION} ${ROOT_URL}
          echo "::set-output name=path::$LOCAL_BOTTLE_NAME"
          echo "::set-output name=path_remote::$BOTTLE_NAME"
          echo "::set-output name=version::$VERSION"

      - name: Upload bottle
        uses: actions/upload-artifact@v2
        with:
          name: homebrew
          path: homebrew-k

      - name: Delete Release
        if: failure()
        uses: actions/github-script@v4
        with:
          github-token: ${{secrets.GITHUB_TOKEN}}
          script: |
            const { owner, repo } = context.repo
            await github.repos.deleteRelease({ owner, repo, release_id: ${{ github.event.release.release_id }} })

    outputs:
      bottle_path: ${{ steps.build.outputs.path }}
      bottle_path_remote: ${{ steps.build.outputs.path_remote }}
      version: ${{ steps.build.outputs.version }}

  macos-test:
    name: 'Test MacOS Package'
    runs-on: macos-11
    environment: production
    needs: macos-build
    steps:
      - name: Check out matching homebrew repo branch
        uses: actions/checkout@v3
        id: checkout
        with:
          repository: kframework/homebrew-k
          path: homebrew-k
          ref: staging
          persist-credentials: false
        continue-on-error: true

      - name: Check out homebrew repo master branch
        uses: actions/checkout@v3
        if: ${{ steps.checkout.outcome == 'failure' }}
        with:
          repository: kframework/homebrew-k
          path: homebrew-k
          persist-credentials: false

      - name: Download bottle
        uses: actions/download-artifact@v2
        with:
          name: homebrew
          path: homebrew-k-old

      - name: Test brew bottle
        id: test
        env:
          # github actions sets the JAVA_HOME variable to Java 8 explicitly for
          # some reason. There doesn't seem to be a way to tell it to unset the
          # variable, so instead we just have to tell it to use Java 11
          # explicitly intead.
          JAVA_HOME: ${{ env.JAVA_HOME_11_X64 }}
        run: |
          cd homebrew-k-old
          brew tap kframework/k "file:///$(pwd)"
          brew install ${{ needs.macos-build.outputs.bottle_path }} -v
          cp -R /usr/local/share/kframework/pl-tutorial ~
          WD=`pwd`
          cd
          echo 'Starting kserver...'
          spawn-kserver $WD/kserver.log
          cd pl-tutorial
          echo 'Testing tutorial in user environment...'
          make -j`sysctl -n hw.ncpu` ${MAKE_EXTRA_ARGS}
          cd ~
          echo 'module TEST imports BOOL endmodule' > test.k
          kompile test.k --backend llvm
          kompile test.k --backend haskell

      - name: Upload bottle to release
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          asset_content_type: 'application/gzip'
          asset_name: ${{ needs.macos-build.outputs.bottle_path_remote }}
          asset_path: homebrew-k-old/${{ needs.macos-build.outputs.bottle_path }}
          upload_url: ${{ github.event.release.upload_url }}

      - name: Add ssh key
        uses: shimataro/ssh-key-action@v2
        with:
          key: ${{ secrets.HOMEBREW_SSH_KEY }}
          known_hosts: ${{ secrets.KNOWN_HOSTS_GITHUB_COM }}

      - name: Commit changes
        run: |
          cp homebrew-k-old/Formula/kframework.rb homebrew-k/Formula/kframework.rb
          cd homebrew-k
          git commit -m 'Update brew package version' Formula/kframework.rb
          git remote set-url origin git@github.com:kframework/homebrew-k.git
          git push origin master

      - name: Delete Release
        if: failure()
        uses: actions/github-script@v4
        with:
          github-token: ${{secrets.GITHUB_TOKEN}}
          script: |
            const { owner, repo } = context.repo
            await github.repos.deleteRelease({ owner, repo, release_id: ${{ github.event.release.release_id }} })

  release:
    name: 'Publish Release'
    runs-on: ubuntu-latest
    environment: production
    needs: [nix-release, macos-build, macos-test, ubuntu-jammy, ubuntu-focal]
    steps:
      - name: Publish release
        uses: actions/github-script@v4
        with:
          github-token: ${{secrets.GITHUB_TOKEN}}
          script: |
            const { owner, repo } = context.repo
            await github.repos.updateRelease({ owner, repo, release_id: ${{ github.event.release.release_id }}, prerelease: false })
      - name: Update dependents
        env:
          JENKINS_DEVOPS_TOKEN: ${{ secrets.JENKINS_DEVOPS_TOKEN }}
          VERSION: ${{ needs.macos-build.outputs.version }}
        run: |
          curl --fail 'https://ci.runtimeverification.com/jenkins/buildByToken/buildWithParameters' \
              --data job=Devops/master \
              --data token=$JENKINS_DEVOPS_TOKEN \
              --data UPDATE_DEPS=true \
              --data UPDATE_DEPS_REPO=runtimeverification/k \
              --data UPDATE_DEPS_VERSION=v$VERSION

  gh-pages:
    name: 'GitHub Pages deployment'
    runs-on: ubuntu-latest
    needs: [release]
    steps:
      - name: 'Install pandoc/texlive/calibre'
        run: |
          sudo apt update --yes
          sudo apt install --yes wget texlive-xetex
          sudo wget -nv -O- https://download.calibre-ebook.com/linux-installer.sh | sh /dev/stdin version=5.42.0
          sudo wget https://github.com/jgm/pandoc/releases/download/2.18/pandoc-2.18-1-amd64.deb -O /tmp/pandoc.deb
          sudo dpkg -i /tmp/pandoc.deb
      - name: 'Checkout code and set up web build'
        uses: actions/checkout@v3
        with:
          submodules: recursive
          path: gh-pages
          token: ${{ secrets.JENKINS_GITHUB_PAT }}
          fetch-depth: 0
      - working-directory: gh-pages
        run: |
          git config --global user.name rv-jenkins
          git config --global user.email devops@runtimeverification.com
          git checkout -B gh-pages origin/master
      - name: 'Build webpage'
        working-directory: gh-pages
        run: |
          export PATH="$PATH":/opt/calibre
          cd web
          npm install
          npm run build
          npm run build-book
          npm run build-sitemap
          cd -
          mv web/public_content ./
          rm -rf $(find . -maxdepth 1 -not -name public_content -a -not -name .git -a -not -path . -a -not -path .. -a -not -name CNAME)
          mv public_content/* ./
          rm -rf public_content
      - name: 'Push gh-pages branch'
        working-directory: gh-pages
        run: |
          set -x
          git add ./
          git commit -m 'gh-pages: Updated the website'
          git merge --strategy ours origin/gh-pages --allow-unrelated-histories
          git push origin gh-pages
