name: 'Test PR'
on:
  pull_request:
    types: [opened, edited, reopened, synchronize]
    branches:
      - 'develop'
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:

  prerelease:
    name: 'Set up Github Prerelease'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - env:
          GITHUB_TOKEN: ${{ secrets.JENKINS_GITHUB_PAT }}
        run: |
          set -x
          version=$(cat package/version)
          tag_name=v${version}_$(git rev-parse --short=7 HEAD)
          name=v${version}_$(git rev-parse --short=7 HEAD)
          curl -X POST                                                  \
            -H "Accept: application/vnd.github+json"                    \
            -H "Authorization: Bearer ${GITHUB_TOKEN}"                  \
            https://api.github.com/repos/runtimeverification/k/releases \
            -d '{"tag_name":"'${tag_name}'","target_commitish":"'${GITHUB_HEAD_REF}'","name":"'${name}'","body":"PRERELEASE: '${name}'","draft":false,"prerelease":true,"generate_release_notes":false}'

  release:
    name: 'Publish Release'
    runs-on: ubuntu-latest
    environment: production
    needs: [prerelease]
    steps:
      - name: Publish release
        uses: actions/github-script@v4
        with:
          github-token: ${{secrets.GITHUB_TOKEN}}
          script: |
            const { owner, repo } = context.repo
            await github.repos.updateRelease({ owner, repo, release_id: ${{ github.event.release.release_id }}, prerelease: false })
      - name: Update dependents
        env:
          JENKINS_DEVOPS_TOKEN: ${{ secrets.JENKINS_DEVOPS_TOKEN }}
          VERSION: ${{ needs.macos-build.outputs.version }}
        run: |
          curl --fail 'https://ci.runtimeverification.com/jenkins/buildByToken/buildWithParameters' \
              --data job=Devops/master \
              --data token=$JENKINS_DEVOPS_TOKEN \
              --data UPDATE_DEPS=true \
              --data UPDATE_DEPS_REPO=runtimeverification/k \
              --data UPDATE_DEPS_VERSION=v$VERSION

  version-sync:
    name: 'Version Sync'
    runs-on: ubuntu-latest
    steps:
      - name: 'Check out code'
        uses: actions/checkout@v3
        with:
          token: ${{ secrets.JENKINS_GITHUB_PAT }}
          # fetch-depth 0 means deep clone the repo
          fetch-depth: 0
      - name: 'Update Version'
        run: |
          set -x
          git config user.name devops
          git config user.email devops@runtimeverification.com
          ./package/version.sh sub
          if git add --update && git commit --message "Set Version: $(cat package/version)"; then
            git push origin HEAD:${GITHUB_HEAD_REF}
          fi

  nix-maven:
    name: 'Nix: Maven'
    runs-on: ubuntu-latest
    needs: version-sync
    steps:

      - name: 'Check out code, set up Git'
        uses: actions/checkout@v3
        with:
          submodules: recursive
          fetch-depth: 0
      - run: |
          git config user.name devops
          git config user.email devops@runtimeverification.com

      - name: 'Install Nix'
        uses: cachix/install-nix-action@v14.1
        with:
          install_url: 'https://releases.nixos.org/nix/nix-2.3.16/install'
          extra_nix_config: |
            access-tokens = github.com=${{ secrets.GITHUB_TOKEN }}

      - name: 'Install Cachix'
        uses: cachix/cachix-action@v10
        with:
          name: runtimeverification
          signingKey: '${{ secrets.CACHIX_SIGNING_KEY }}'
          skipPush: true

      - name: 'Update Maven dependencies, push changes'
        run: |
          set -x
          if ! git diff --exit-code origin/${GITHUB_BASE_REF} origin/${GITHUB_HEAD_REF} \
                -- $(find . -name pom.xml)                                              \
                   $(find nix -name '*.nix')                                            \
                   llvm-backend/src/main/native/llvm-backend                            \
                   haskell-backend/src/main/native/haskell-backend; then
            ./nix/update-maven.sh
          fi
          if git add nix/ && git commit -m 'Update Nix lock files'; then
            git push
          fi

  test-k:
    name: 'K Tests'
    runs-on: [self-hosted, linux, normal]
    needs: version-sync
    steps:
      - name: 'Check out code'
        uses: actions/checkout@v3
        with:
          submodules: recursive
      - name: 'Set up Docker'
        uses: ./.github/actions/with-docker
        with:
          tag: k-ci-${{ github.sha }}
          distro: jammy
          llvm: 14
      - name: 'Build and Test K'
        run: docker exec -t k-ci-${GITHUB_SHA} /bin/bash -c 'mvn verify --batch-mode -U'
      - name: 'Check out k-exercises'
        uses: actions/checkout@v3
        with:
          repository: kframework/k-exercises
          token: ${{ secrets.JENKINS_GITHUB_PAT }}
          submodules: recursive
          path: k-exercises
      - name: 'Tutorial Integration Tests'
        run: |
          docker exec -t k-ci-${GITHUB_SHA} /bin/bash -c 'k-distribution/target/release/k/bin/spawn-kserver kserver.log'
          docker exec -t k-ci-${GITHUB_SHA} /bin/bash -c 'cd k-exercises/tutorial && make -j`nproc` --output-sync'
          docker exec -t k-ci-${GITHUB_SHA} /bin/bash -c 'cd k-distribution/k-tutorial/1_basic && ./test_kompile.sh'
      - name: 'Tear down Docker'
        if: always()
        run: |
          docker stop --time=0 k-ci-${GITHUB_SHA}
          docker container rm --force k-ci-${GITHUB_SHA} || true

  test-package-ubuntu-jammy:
    name: 'K Ubuntu Jammy Package'
    runs-on: [self-hosted, linux, normal]
    needs: version-sync
    steps:
      - uses: actions/checkout@v3
      - name: 'Build and Test'
        uses: ./.github/actions/test-package
        with:
          distro: jammy
          llvm: 14

  compile-nix-flake:
    name: 'Nix flake'
    strategy:
      fail-fast: false
      matrix:
        include:
          - runner: ubuntu-latest
            os: ubuntu-latest
          - runner: macos-12
            os: macos-12
          - runner: MacM1
            os: self-macos-12
    runs-on: ${{ matrix.runner }}
    needs: [nix-maven]
    steps:
      - name: 'Check out code'
        uses: actions/checkout@v3

      - name: 'Upgrade bash'
        if: ${{ contains(matrix.os, 'macos') }}
        run: brew install bash

      - name: 'Install Nix'
        if: ${{ !startsWith(matrix.os, 'self') }}
        uses: cachix/install-nix-action@v15
        with:
          extra_nix_config: |
            access-tokens = github.com=${{ secrets.GITHUB_TOKEN }}
            substituters = http://cache.nixos.org https://cache.iog.io
            trusted-public-keys = cache.nixos.org-1:6NCHdD59X431o0gWypbMrAURkbJ16ZPMQFGspcDShjY= hydra.iohk.io:f/Ea+s+dFdN+3Y/G+FDgSq+a5NEWhJGzdjvKNGv0/EQ=

      - name: 'Install Cachix'
        if: ${{ !startsWith(matrix.os, 'self') }}
        uses: cachix/cachix-action@v10
        with:
          name: runtimeverification
          extraPullNames: kore
          signingKey: '${{ secrets.CACHIX_SIGNING_KEY }}'

      - name: 'Build K Framework'
        run: GC_DONT_GC=1 nix build .

      # These tests take a really long time to run on other platforms, so we
      # skip them unless we're on the M1 runner.
      - name: 'Test K'
        if: ${{ matrix.os == 'self-macos-12' }}
        run: GC_DONT_GC=1 nix build .#test

  test-nix:
    name: 'Nix'
    strategy:
      fail-fast: false
      matrix:
        include:
          - runner: ubuntu-latest
            os: ubuntu-latest
          - runner: macos-12
            os: macos-12
    runs-on: ${{ matrix.runner }}
    needs: [nix-maven]
    steps:
      - name: 'Check out code'
        uses: actions/checkout@v3
        with:
          submodules: recursive

      - name: 'Upgrade bash'
        if: ${{ contains(matrix.os, 'macos') }}
        run: brew install bash

      - name: 'Install Nix'
        if: ${{ !startsWith(matrix.os, 'self') }}
        uses: cachix/install-nix-action@v14.1
        with:
          install_url: 'https://releases.nixos.org/nix/nix-2.3.16/install'
          extra_nix_config: |
            access-tokens = github.com=${{ secrets.GITHUB_TOKEN }}

      - name: 'Install Cachix'
        if: ${{ !startsWith(matrix.os, 'self') }}
        uses: cachix/cachix-action@v10
        with:
          name: runtimeverification
          extraPullNames: kore
          signingKey: '${{ secrets.CACHIX_SIGNING_KEY }}'

      - name: 'Build K Framework'
        run: nix-build -A k -A llvm-backend -A haskell-backend

      - name: 'Build K Framework with LTO'
        run: nix-build -A k -A llvm-backend -A haskell-backend --arg release true
        if: ${{ !contains(matrix.os, 'macos') }}

      - name: 'Check development environment'
        run: nix-shell --run 'echo OK'

      - name: 'Run selected integration tests'
        run: nix-build test.nix --argstr test help
